.App {
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.row{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.first{
  margin-top: 0.5rem;
}

.gameBtn{
  border: 3px outset rgba(66, 66, 66, 0.568);
  border-radius: 1rem;
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
  font-size: 2rem;
}
.gameBtn:active{
  border-style: inset;
  border-color: rgba(0, 0, 0, 0.151);
}
.Btn1{
  background-color: rgb(0, 160, 0);
}
.Btn1:active{
  background-color: rgb(0, 255, 0);
}
.light1{
  background-color: rgb(0, 255, 0); 
}
.Btn2{
  background-color: rgb(133, 0, 0);
}
.Btn2:active{
  background-color: rgb(255, 0, 0);
}
.light2{
  background-color: rgb(255, 0, 0);
}
.Btn3{
  background-color: rgb(168, 140, 0);
}
.Btn3:active{
  background-color: rgb(255, 230, 0);
}
.light3{
  background-color: rgb(255, 230, 0);
}
.Btn4{
  background-color: rgb(1, 1, 189);
}
.Btn4:active{
  background-color: rgb(0, 153, 255);
}
.light4{
  background-color: rgb(0, 153, 255);
}

.machineBtn{
  background-color: rgb(145, 255, 255);
  border: 3px outset rgba(66, 66, 66, 0.568);
  border-radius: 1rem;
  width: 5.5rem;
  height: 5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
}
.machineBtn:active{
  border-style: inset;
  background-color: rgb(104, 183, 187);
}

.strict{
  font-size: 1.3rem;
  background-color: rgb(126, 0, 0);
  height: 3.7rem;
  width: 4.5rem;
  line-height: 1;
  color: rgb(219, 218, 218);
}
.strict:active{
  background-color: rgb(104, 0, 0);
}
.strictLight{
  background-color: rgb(255, 0, 0);
}

.counter{
  background-color: rgb(0, 0, 0);
  color: rgb(0, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(0, 177, 177);
  border-radius: 30%;
  width: 4.5rem;
  margin: 0.5rem;
  height: 4.7rem;
  font-size: 1.6rem;
}